.footer-container {
  background-color: #eceeeb;
  position: fixed;
  bottom: 0vh;
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 1.5rem;

  .footer-text {
    position: relative;
    top: 25%;

    a {
      text-decoration: none;
      cursor: pointer;
      color: #283943;
    }
  }
}
